BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: true
AlwaysBreakBeforeMultilineStrings: true
BinPackParameters: false
BreakBeforeBraces: Linux
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 120
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
DerivePointerAlignment: false
IndentWidth: 4
PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: true
TabWidth: 4
UseTab: Never
