name: Build and Test
on: [push, pull_request]
jobs:
  ubuntu:
    strategy:
      matrix:
          version: ["7.0", "7.1", "7.2", "7.3", "7.4", "8.0", "8.1", "8.2", "8.3", "8.4"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout apcu
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{matrix.version}}
      - name: phpize
        run: phpize
      - name: configure
        run: ./configure --enable-apcu-debug
      - name: make
        run: make
      - name: test
        run: |
            make test TESTS="--show-diff -d apc.serializer=default tests"
            make test TESTS="--show-diff -d apc.serializer=php tests"
            make test TESTS="--show-diff -d apc.serializer=default -d opcache.enable_cli=1 tests"
            make test TESTS="--show-diff -d apc.serializer=php -d opcache.enable_cli=1 tests"
  windows:
    defaults:
      run:
        shell: cmd
    strategy:
      matrix:
        version: ["7.0", "7.1", "7.2", "7.3", "7.4", "8.0", "8.1", "8.2", "8.3", "8.4"]
        arch: [x64]
        ts: [nts, ts]
    runs-on: windows-2022
    steps:
      - name: Checkout apcu
        uses: actions/checkout@v4
      - name: Install VC15 component
        if: ${{ startsWith(matrix.version, '7.') }}
        shell: pwsh
        run: |
                Set-Location "C:\Program Files (x86)\Microsoft Visual Studio\Installer\"
                $installPath = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise"
                $component = "Microsoft.VisualStudio.Component.VC.v141.x86.x64"
                $args = ('/c', "vs_installer.exe", 'modify', '--installPath', "`"$installPath`"", '--add', $component, '--quiet', '--norestart', '--nocache')
                $process = Start-Process -FilePath cmd.exe -ArgumentList $args -Wait -PassThru -WindowStyle Hidden

      - name: Setup PHP
        id: setup-php
        uses: php/setup-php-sdk@v0.10
        with:
          version: ${{matrix.version}}
          arch: ${{matrix.arch}}
          ts: ${{matrix.ts}}
          cache: true
      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{matrix.arch}}
          toolset: ${{steps.setup-php.outputs.toolset}}
      - name: phpize
        run: phpize
      - name: configure
        run: configure --enable-apcu --enable-debug-pack --with-prefix=${{steps.setup-php.outputs.prefix}}
      - name: make
        run: nmake
      - name: test
        run: nmake test TESTS="--show-diff tests"
      - name: package
        run: |
          md win-install
          copy LICENSE win-install
          if exist x64 (
            if exist x64\Release (set prefix=x64\Release) else set prefix=x64\Release_TS
          ) else (
            if exist Release (set prefix=Release) else set prefix=Release_TS
          )
          copy %prefix%\php_apcu.dll win-install
          copy %prefix%\php_apcu.pdb win-install
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: apcu-${{matrix.version}}-${{matrix.arch}}-${{matrix.ts}}
          path: win-install
